/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

/*=============== COLORS ===============*/
:root {
    --color-gold: #E6C744;
    --body-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #C2C8DA;
    --nav-link: #242323;

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 48px;
    --normal-font-size: 32px;
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-black: 900;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

ul {
    list-style: none;
  }
  
a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/*=============== CONTAINER ===============*/
.container {
	width: 1400px;
	padding: 0 15px;
    margin: 0 auto;
}
/*=============== BUTTON ===============*/
.button-login {
    font-size: 24px;
    font-weight: var(--font-medium);
    background: var(--color-black);
    border-radius: 7px;
    padding: 20px;
    color: #FEFEFE;
    text-transform: uppercase;
    transform: translateY(7%)
}
/*=============== HEADER ===============*/

.header {
    margin-top: 45px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    column-gap: 20px;
}

.logo h1 {
    text-transform: uppercase;
    font-weight: var(--font-black);
    font-size: 40px;
    letter-spacing: 3px;
}

.nav {
    display: flex;
    column-gap: 20px;
}

.nav ul {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.nav a {
    font-weight: var(--font-medium);
    font-size: 22px;
    color: var(--nav-link);
}









  