/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

/*=============== COLORS ===============*/
:root {
    --color-gold: #EBD96B;
    --body-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #C2C8DA;
    --nav-link: #242323;

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 48px;
    --normal-font-size: 32px;
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-black: 900;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/*=============== CONTAINER ===============*/
.container {
	width: 1400px;
	padding: 0 15px;
    margin: 0 auto;
}
/*=============== BUTTON ===============*/
.button-black {
    font-size: 24px;
    font-weight: var(--font-medium);
    background: var(--color-black);
    border-radius: 7px;
    padding: 20px;
    color: #FEFEFE;
    text-transform: uppercase;
    transform: translateY(7%)
}

.button-black:active {
    transform: scale(0.95);
}

.button-slider {
    position: absolute;
    bottom: 0;
    left: 300px 
}
/*=============== HEADER ===============*/

.header {
    margin-top: 45px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    column-gap: 20px;
}

.header-logo h1 {
    text-transform: uppercase;
    font-weight: var(--font-black);
    font-size: 40px;
    letter-spacing: 3px;
}

.header-nav {
    display: flex;
    column-gap: 20px;
}

.header-nav ul {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.header-nav a {
    font-weight: var(--font-medium);
    font-size: 22px;
    color: var(--nav-link);
    text-transform: uppercase;
}

/*=============== SLIDER START ===============*/
.main-swiper {
    padding: 76px 0 63px 0;
}

/* .swiper-items {
    display: flex;
    justify-content: center;
} */

/* .swiper-item {
    border-radius: 59px;
    background: #F4F6F5;

    display: flex;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;
} */

.swiper {
    position: relative;
}

.swiper-content {
    border-radius: 59px;
    background: #F4F6F5;

    display: flex;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;
}

.swiper-content__red {
    background: #D31E1E;
}

.swiper-content__green {
    background: #159615;
}


.swiper-text__title {
    max-width: 480px;
    margin-bottom: 40px;
    font-weight: var(--font-black);
    font-size: 70px;
    line-height: 1.25;
}

.swiper-text__desc {
   font-weight: var(--font-regular);
   font-size: 22px;
   line-height: calc(48 / 22);
   letter-spacing: -0.05em;
   margin-bottom: 60px;
}

.swiper__btn-wrapper {
    display: flex;
    column-gap: 34px;
    align-items: center;
}

.swiper__btn-wrapper::before {
    content: "";
    display: inline-block;
    width: 190px;
    height: 32px;
    background-image: url('../img/yellow-decor.svg');
}

.hightlight {
    position: relative;
    display: inline-block;
}

.hightlight span {
    position: relative;
    z-index: 1;
}

.hightlight::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    bottom: 0px;
    left: -40px;
    right: -160px;
    background-color: #FFFFFF;
    transform: rotate(-2deg);
}


.hightlight--yellow::before {
    background-color: var(--color-gold);
    right: -110px;
}


/*=============== SLIDER END ===============*/

/*=============== PARTNERS START ===============*/

.brands {
   padding: 60px 0 55px;
   background-color: var(--color-gold);
}

.brands-list{
    display: flex;
    align-items: center;
    column-gap: 120px;
    mix-blend-mode: multiply;
}
/*=============== PARTNERS END ===============*/






  
