/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

/*=============== COLORS ===============*/
:root {
    --color-gold: #EBD96B;
    --body-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #7f7f7f;
    --nav-link: #242323;

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 48px;
    --normal-font-size: 32px;
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-black: 900;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/*=============== CONTAINER ===============*/
.container {
	width: 1400px;
	padding: 0 15px;
    margin: 0 auto;
}

.title-2 {
    display: inline-block;
    position: relative;
    font-weight: var(--font-black);
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: 0.06em;
}

.title-2::after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 190px;
    height: 32px;
    background-image: url('../img/yellow-decor.svg');
    
}


/*=============== BUTTON ===============*/
.button-black {
    font-size: 24px;
    font-weight: var(--font-medium);
    background: var(--color-black);
    border-radius: 7px;
    padding: 20px;
    color: #FEFEFE;
    text-transform: uppercase;
    transform: translateY(7%)
}

.button-black:active {
    transform: scale(0.95);
}

.button-slider {
    position: absolute;
    bottom: 0;
    left: 300px 
}
/*=============== HEADER ===============*/

.header {
    margin-top: 45px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    column-gap: 20px;
}

.header-logo h1 {
    text-transform: uppercase;
    font-weight: var(--font-black);
    font-size: 40px;
    letter-spacing: 3px;
}

.header-nav {
    display: flex;
    column-gap: 20px;
}

.header-nav ul {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.header-nav a {
    font-weight: var(--font-medium);
    font-size: 22px;
    color: var(--nav-link);
    text-transform: uppercase;
}

/*=============== SLIDER START ===============*/
.main-swiper {
    padding: 76px 0 63px 0;
}

.swiper {
    position: relative;
}

.swiper-content {
    border-radius: 59px;
    background: #F4F6F5;

    display: flex;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;
}

.swiper-content__red {
    background: #D31E1E;
}

.swiper-content__green {
    background: #159615;
}


.swiper-text__title {
    max-width: 480px;
    margin-bottom: 40px;
    font-weight: var(--font-black);
    font-size: 70px;
    line-height: 1.25;
}

.swiper-text__desc {
   font-weight: var(--font-regular);
   font-size: 22px;
   line-height: calc(48 / 22);
   letter-spacing: -0.05em;
   margin-bottom: 60px;
}

.swiper__btn-wrapper {
    display: flex;
    column-gap: 34px;
    align-items: center;
}

.swiper__btn-wrapper::before {
    content: "";
    display: inline-block;
    width: 190px;
    height: 32px;
    background-image: url('../img/yellow-decor.svg');
}

.hightlight {
    position: relative;
    display: inline-block;
}

.hightlight span {
    position: relative;
    z-index: 1;
}

.hightlight::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    bottom: 0px;
    left: -40px;
    right: -160px;
    background-color: #FFFFFF;
    transform: rotate(-2deg);
}


.hightlight--yellow::before {
    background-color: var(--color-gold);
    right: -110px;
}


/*=============== SLIDER END ===============*/

/*=============== PARTNERS START ===============*/

.brands {
   padding: 60px 0 55px;
   background-color: var(--color-gold);
}

.brands-list{
    display: flex;
    align-items: center;
    column-gap: 120px;
    mix-blend-mode: multiply;
}
/*=============== PARTNERS END ===============*/

/*=============== ARRIVALS START ===============*/
.arrivals {
    padding: 120px 0 143px 0;
}

.arrivals__header {
    margin-bottom: 100px;
}

.arrivals__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 0 30px;
}
/*=============== ARRIVALS END ===============*/

/*=============== CARDS START ===============*/
.card {
    position: relative;
    cursor: pointer;
    max-width: 350px;
}

.card:hover .card__img {
    animation: opacity 0.2s ease-in-out;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.card:hover .card-body__icon {
    animation: slide 0.5s ease-in-out;
}

@keyframes slide {
    0% {
        left: 0;
    }

    50% {
       left: -20px;
    }

    100% {
        left: 0;
    }
}

.card__link {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.card__img {
    margin-bottom: 28px;
    border-radius: 20px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

.card__title {
    margin-bottom: 7px;
    font-weight: var(--font-medium);
    font-size: 25px;
    line-height: 1.56;
    letter-spacing: -0.04em;
}

.card__muted {
    font-weight: var(--font-medium);
    font-size: 18px;
    line-height: 2.08;
    letter-spacing: -0.04em;
    color: var(--color-gray);
}

.card-body__icon {
    position: relative;
}
/*=============== CARDS END ===============*/

/*=============== BANNER START ===============*/

.banner {
    background-color: #E0C340;
}

.banner-content__img img {
    max-width: 991px;
}

.banner-content {
    display: flex;
    column-gap: 60px;
}

.banner-content__text {
    margin-top: 170px;
}

.banner-content__title {
    max-width: 600px;

    margin-bottom: 40px;
    font-weight: var(--font-black);
    font-size: 112px;
    line-height: 1.25;
}

.banner-content__desc {
    font-weight: var(--font-medium);
    font-size: 36px;
    margin-bottom: 179px;
}

/*=============== BANNER END ===============*/

/*=============== FAVORITE START ===============*/
.favorite {
    padding: 196px 0 226px 0;
}

.favorite__header {
    margin-bottom: 100px;
}

.favorite-cards {
    display: flex;
    justify-content: space-between;
}

.favorite-card {
    position: relative;
    cursor: pointer;
    max-width: 650px;
}

.favorite-card:hover .card__img {
    animation: opacity 0.2s ease-in-out;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.favorite-card:hover .card-body__icon {
    animation: slide 0.5s ease-in-out;
}

@keyframes slide {
    0% {
        left: 0;
    }

    50% {
       left: -20px;
    }

    100% {
        left: 0;
    }
}

.card__link {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.favorite-card__img {
    margin-bottom: 28px;
    border-radius: 20px;
}

.favorite-card__body {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

.favorite-card__title {
    margin-bottom: 7px;
    font-weight: var(--font-medium);
    font-size: 25px;
    line-height: 1.56;
    letter-spacing: -0.04em;
}

.favorite-card__muted {
    font-weight: var(--font-medium);
    font-size: 18px;
    line-height: 2.08;
    letter-spacing: -0.04em;
    color: var(--color-gray);
}

.card-body__icon {
    position: relative;
}

/*=============== FAVORITE END ===============*/

/*=============== PROMO START ===============*/
.promo {
    background-color: #E5C643;
}

.promo-content {
    padding: 156px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.promo-content__title {
    max-width: 740px;
    margin-bottom: 42px;
    font-weight: var(--font-black);
    font-size: 50px;
    color: #FFFFFF;
}

.promo-content__desc {
    margin-bottom: 48px;
    color: #FFFCF8;
    font-weight: var(--font-regular);
    font-size: 30px;
}

.promo-input {
    position: relative;
    width: 574px;
    padding: 36px 10px 34px 28px;
    background-color: #FFFFFF;
    color: #767676;
}

.promo-btn {
    position: absolute;
}






  
